<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football League Management</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/themify-icons/themify-icons.css}">
</head>
<body>
<div class="main">

    <div th:insert="header :: header"></div>

    <div class="content player-content">
        <div class="nav-title">
            <h2>Quản lý báo cáo trận đấu</h2>
        </div>

        <div class="info player">
            <div class="title">
                <h2>Danh sách các cầu thủ ghi bàn</h2>
            </div>

            <a class="button-create js-exchange">
                Thêm cầu thủ ghi bàn
            </a>
            
            <hr>

            <table class="match-status">
                <tr>
                    <td><h3>Tên đội 1: <span th:text="${match.team1Name}"></span></h3></td>
                    <td><h3>Tên đội 2: <span th:text="${match.team2Name}"></span></h3></td>
                </tr>
                <tr>
                    <td><h3>Tỷ số: <span th:text="${match.team1Goal} + ' - ' + ${match.team2Goal}"></span></h3></td>
                    <td><h3>Sân: <span th:text="${match.homeGround}"></span></h3></td>
                </tr>
                <tr>
                    <td><h3>Ngày - Giờ: <span th:text="${match.dateTime}"></span></h3></td>
                </tr>
            </table>

            <hr>
            
            <div th:if="${error != null}">
                <div class="alert-content">
                    <span th:text="${error}"></span>
                </div>
            </div>

            <table class="table">
                <thead class="table-head">
                	<tr>
                        <th>STT</th>
                        <th>Tên cầu thủ</th>
                        <th>Đội</th>
                        <th>Loại bàn thắng</th>
                        <th>Thời điểm</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody class="table-body">
                    <tr th:each="tempReport, tempReportStat : ${reports}">
                        <td th:text="${tempReportStat.index + 1 + reports.number * reports.size}"></td>
                        <td th:text="${tempReport.playerName}"/>
                        <td th:text="${tempReport.team}"/>
                        <td th:text="${tempReport.goalTypeName}"/>
                        <td th:text="${tempReport.time}"/>
                        <td>
                            <a class="button-update js-exchange" th:attr="data-id=${tempReport.id}, 
                            												data-playerName=${tempReport.playerName}, 
                            												data-team=${tempReport.team}, 
                            												data-goalTypeName=${tempReport.goalTypeName}, 
                            												data-time=${tempReport.time}">
                                Update
                            </a>
                            
                            <a th:href="@{/admin/matches/results/delete(reportId=${tempReport.id}, matchId=${match.id})}"
								class="button-delete"
								onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
								Delete
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="pagination">
			    <a th:href="@{'/admin/matches/results?page=' + ${reports.number - 1} +'&matchId=' + ${matchId}}" th:if="${reports.hasPrevious()}">&laquo;</a>
			    <a th:each="i : ${#numbers.sequence(0, reports.totalPages - 1)}" 
			       th:href="@{'/admin/matches/results?page=' + ${i} + '&matchId=' + ${matchId}}"
			       th:classappend="${i == reports.number} ? ' active' : ''">
			        <span th:text="${i + 1}"></span>
			    </a>
			    <a th:href="@{'/admin/matches/results?page=' + ${reports.number + 1} +'&matchId=' + ${matchId}}" th:if="${reports.hasNext()}">&raquo;</a>
			</div>
        </div>
    </div>

    <div class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close js-modal-close">
                <i class="ti-close"></i>
            </div>
            
            <form th:action="@{/admin/matches/results(matchId=${match.id})}" th:object="${report}" method="post" onsubmit="return validateForm()">

	            <header class="modal-header">
	                Tạo cầu thủ
	            </header>
	            
	            <input type="hidden" th:field="*{id}" />
            
                <div class="modal-body">
                    <label for="player-name" class="modal-label">
                        Tên cầu thủ
                    </label>
                    <select id="player-name" type="text" th:field="*{playerId}" class="modal-input" onchange="updateTeam()">
						<option value="" disabled selected hidden></option>
                        <option th:each="tempPlayer : ${playerTeam1}" class="option" th:value="${tempPlayer.id}" th:text="${tempPlayer.name}" th:data-team="${tempPlayer.teamName}"></option>
                    	<option th:each="tempPlayer : ${playerTeam2}" class="option" th:value="${tempPlayer.id}" th:text="${tempPlayer.name}" th:data-team="${tempPlayer.teamName}"></option>
                    </select>
                    <span class="error-message" id="player-name-error"></span>
                    
                    <div class="blank"></div>

                    <label for="team" class="modal-label">
                        Đội
                    </label>
                    <input id="team" type="text" th:field="*{team}" class="modal-input">
                    <span class="error-message" id="team-error"></span>
                    
                    <div class="blank"></div>

                    <label for="goal-type" class="modal-label">
                        Loại bàn thắng
                    </label>
                    <select id="goal-type" name="player-type" th:field="*{goalTypeId}" class="modal-input">
                        <option value="" disabled selected hidden></option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                    </select>
                    <span class="error-message" id="goal-type-error"></span>
                    
                    <div class="blank"></div>

                    <label for="time" class="modal-label">
                        Thời điểm (hh:mm:ss)
                    </label>
                    <input id="time" type="text" th:field="*{time}" class="modal-input">
                    <span class="error-message" id="time-error"></span>
                    
                    <div class="blank"></div>
                    
                    <button type="submit" id="buy-tickets">
                        Thêm cầu thủ
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="footer"></div>
</div>

<script>
	function updateTeam() {
	    var select = document.getElementById("player-name");
	    var selectedOption = select.options[select.selectedIndex];
	    var teamInput = document.getElementById("team");
	    
	    // Lấy tên đội từ thuộc tính data-team của tùy chọn được chọn
	    var teamName = selectedOption.getAttribute("data-team");
	    
	    // Cập nhật giá trị của trường đội
	    teamInput.value = teamName;
	}

    const addBtns = document.querySelectorAll('.js-exchange')
    const modal = document.querySelector('.js-modal')
    const modalContainer = document.querySelector('.js-modal-container')
    const modalClose = document.querySelector('.js-modal-close')


    function showBuyTickets() {
        modal.classList.add('open')
        
        const button = event.currentTarget;
	    const id = button.getAttribute('data-id');
	    const playerName = button.getAttribute('data-playerName');
	    const team = button.getAttribute('data-team');
	    const goalTypeName = button.getAttribute('data-goalTypeName');
	    const time = button.getAttribute('data-time');
	    
	    if (id) {
	        document.querySelector('input[name="id"]').value = id;
	        document.querySelector('select[name="playerId"]').value = playerName;
	        document.querySelector('input[name="team"]').value = team;
	        document.querySelector('select[name="goalTypeId"]').value = goalTypeName;
	        document.querySelector('input[name="time"]').value = time;
	    } else {
	        document.querySelector('form').reset();
	    }
	   
    }

    function hideBuyTickets() {
        modal.classList.remove('open')
    }

    for (const addBtn of addBtns) {
        addBtn.addEventListener('click', showBuyTickets)
    }

    modalClose.addEventListener('click', hideBuyTickets)

    modal.addEventListener('click', hideBuyTickets)

    modalContainer.addEventListener('click', function (event) {
        event.stopPropagation()
    })
    
    function validateForm() {
	    let isValid = true;
	
	    // Clear previous errors
	    document.getElementById('player-name-error').innerText = '';
	    document.getElementById('team-error').innerText = '';
	    document.getElementById('goal-type-error').innerText = '';
	    document.getElementById('time-error').innerText = '';
	
	    // Validate username
	    const player = document.getElementById('player-name').value;
	    if (player.trim() === '') {
	        document.getElementById('player-name-error').innerText = 'Player name is required';
	        isValid = false;
	    }
	    
	    const team = document.getElementById('team').value;
	    if (team.trim() === '') {
	        document.getElementById('team-error').innerText = 'Team name is required';
	        isValid = false;
	    }
	    
	    const goalType = document.getElementById('goal-type').value;
	    if (goalType.trim() === '') {
	        document.getElementById('goal-type-error').innerText = 'Goal type is required';
	        isValid = false;
	    }
	    
	    const dateTime = document.getElementById('time').value;
        const dateTimePattern = /^(0*[0-9]{1,3}|[1-9][0-9]{0,2}):[0-5][0-9]:[0-5][0-9]$/;
        if (dateTime.trim() === '') {
            document.getElementById('time-error').innerText = 'Time is required';
            isValid = false;
        } else if (!dateTimePattern.test(dateTime)) {
            document.getElementById('time-error').innerText = 'Invalid time format (hh:mm:ss)';
            isValid = false;
        }

    	return isValid;
	}
</script>
</body>
</html>